<style>
    .form-bottom form .input-error {
        border-color: #de615e;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div style="display:table-cell">
                    <h3 style="display:table-cell" class="panel-title">Update &nbsp;</h3>
                </div>
                <div style="display:table-cell" ng-if="processing">
                    <div><img src="./images/spinner.gif" /></div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="passworderror" class="alert alert-danger ">Enter valid password.</div>
                <div class="row">
                    <div id="errordiv1" class="row" ng-if="iserror">
                        <div class="col-lg-12">
                            <div id="errormsg" class="alert alert-danger">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                    </div>
                    <div class="col-lg-12">
                        <div class="alert alert-success" ng-if="success">
                            New Password has been saved <a href="UpdateProfile.html"><b>Go to Back!!</b></a>
                        </div>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" class="login-form">
                        <div class="form-group">
                            <div class="change-group">
                                <label>New Password</label>
                                <input type="password" name="form-confirm-password" ng-model="txtnewpswd" ng-blur="passwordValidation(txtnewpswd)" placeholder="New Password" class="form-control changepswd" id="form-confirm-password">
                                <span ng-hide="validpassword">Password must be Minimum 6 characters at least one number, one lowercase and one uppercase letter</span>
                            </div>
                        </div>
                        <!-- <div ng-hide="ismatch" class="alert alert-danger"> Password and confirm password must be matched.</div>-->
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="form-confirm-password" ng-model="txtconfirmpswd" placeholder="Change Password" class="form-control changepswd" id="form-confirm-password">
                        </div>
                        <div ng-if="ismatchpswd" class="alert alert-danger"> New Password and confirm password must be matched.</div>
                        <button type="submit" class="btn btn-primary" id="savepswd" ng-click="UpdatePassword()">Save !</button>
                        <a class="btn btn-primary1" id="gobackto" ng-click="GoBack()">GoBack EditProfile !</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted"> Powered By - Wipro Technologies Ltd.</p>
        </div>
    </footer>
</div>
