
<div class="container-fluid" ng-controller="newRideCtrl">
    <div class="row">
        <div class="wrapper">
            <div id="over_map">
                <input type="text" id="txtDestination" class="form-control" />
                <div id="demo"></div>
            </div>
            <div id="map" data-tap-disabled="true"></div>
            <div id="over_map_button">
                <input type="button" id="btnRoute" value="Get Route" class="btn btn-primary" />
                <input type="button" id="btnReset" value="Reset" class="btn btn-primary" />
                <input type="button" id="btnSubmit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<style>
    #wrapper {
        position: relative;
    }

    #over_map_button {
        position: absolute;
        bottom: 10px;
        left: 15%;
        z-index: 99;
        width: 97%;
    }
</style>





