    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div style="display:table-cell">
                        <h3 style="display:table-cell" class="panel-title">My Rides &nbsp;</h3>
                    </div>
                    <div style="display:table-cell">
                        <div id="Loading" style="display:none"><img src="./images/spinner.gif" /></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-if="IsError">OOPS something went wrong. Please try again or refresh the page.</div>
                    <div id="errordiv" class="row" ng-if="error">
                        <div class="col-lg-12">
                            <div id="errormsg" class="alert alert-danger">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!--<div class="alert alert-danger">
                            Error Message.
                        </div>-->
                            <div class="alert alert-success" ng-if="error">
                               <span>Ride has been cancelled.</span>
                            </div>
                        </div>
                    </div>
                    <a href="#newride" alt="New Ride"><h4><i class="fa fa-plus fa-2x"></i><b style="font-size:16px">&nbsp;Offer A Ride</b></h4></a>
                    <div class="table-responsive">
                        
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Source</th>
                                    <th>Destination</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ride in rides">
                                    <td>
                                        <a href="javascript:void(0)" alt="Ride Details" ng-click="getDetails(ride.rideid)"><i class="fa fa-list-alt fa-2x"></i></a>
                                        <a href="#" alt="Cancel Ride" ng-click="cancel(ride.rideid)"><i class="fa fa-remove fa-2x"></i></a>
                                    </td>
                                    <td>{{ride.ridestatus}}</td>
                                    <td>{{ride.startdatetime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                    <td>{{ride.startpoint}}</td>
                                    <td>{{ride.endpoint}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    