<form name="form" class="css-form" novalidate>
    <div class="container-fluid" ng-controller="updateProfiletoOwnerCtrl">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div style="display:table-cell">
                        <h3 style="display:table-cell" class="panel-title">Upgrade Profile to Owner &nbsp;</h3>
                    </div>
                    <div style="display:table-cell" ng-show="processing">
                        <div><img src="./images/spinner.gif" /></div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="errormsg" class="alert alert-info">
                                <a href="#">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a> Please provide your car details for being an owner or skip to being user.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="checkbox-inline" for="form-isowner">
                                    <input type="checkbox" checked="checked" disabled="disabled" id="form-isowner" name="form-isowner" />Is Car Owner
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!--<h4>Car Details</h4>-->
                            <div class="form-group" >
                                <label for="form-carnumber">Car Number</label>
                                <input type="text" name="carnumber" maxlength="12" required=""
                                       placeholder="Car Number" ng-class="{submitted:form.submitted}" ng-model="carno" 
                                       ng-maxlength="14" ng-minlength="8" class="form-carnumber form-control"
                                       id="-carnumber">
                                <div ng-show="form.$submitted || form.carnumber.$touched">
                                    <div ng-show="form.carnumber.$error.required" style="color:red">Please provide valid Car Number.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="submit" ng-click="Upgrade()" class="btn btn-primary" value="Upgrade" />
                        <!--<button type="submit" class="btn btn-primary" id="signin" ng-click="Upgrade()">Upgrade!</button>-->
                        <button type="submit" class="btn btn-default" id="cancel" ng-click="Cancel()">Skip >></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title">Congratulations..</h4>
                </div>
                <div class="modal-body">
                    <p>You have successfully registered as Owner with CarPool. Click Ok to redirect to Owner dashboard.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOk" ng-click="Success()">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
<style>
    input.ng-touched.ng-invalid {
        border: 1px solid red;
    }

    input.ng-dirty.ng-invalid {
        border: 1px solid red;
    }

    input.submitted.ng-invalid {
        border: 1px solid red;
    }
</style>
